<!DOCTYPE html>
<html>
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <style type="text/css" rel="stylesheet">
         body {
            background: #FFFFFB;
            color: #1C1C1C;
         }

         .container {
            max-width: 500px;
            margin: 0 auto;
            text-align: center;
            font-family: Arial;
            padding-top: 80px;
         }

         .btn {
            display: block;
            padding: 10px;
            color: #FFFFFB;
            background: #58B2DC;
            text-decoration: none;
            width: 200px;
            border-radius: 3px;
            margin: 0 auto;
            min-height: 30px;
            line-height: 30px;
            font-size: 15px;
            font-weight: 700;
         }

         a {
            text-decoration: none;
         }

      </style>
   </head>
   <body>

      {% block body %}{% endblock %}

   </body>
</html>