{% extends 'email.twig' %}

{% block body %}
   <div class="container">
      <h1>重設密碼</h1>
      <p>此連結會於１小時後失效，盡快於失效前重設密碼！</p>
      <a class="btn" href="http://slim3.dev/reset/{{ token }}">按此重設密碼</a>
   </div>
{% endblock %}
