{% extends 'default.twig' %}
{% import 'macro.twig' as m %}

{% block body %}
   <div class="row">
      <div class="col-lg-4 col-sm-6 col-lg-offset-4 col-sm-offset-3">
         <div class="panel panel-info{{ errors ? ' animated shake' : ''}}">

            <div class="panel-heading" style="font-size: 150%; text-align: center;">忘記密碼</div>

            <div class="panel-body">
               <form action="/forget" method="post" autocomplete="off">
                  {{ csrf_field | raw }}

                  {{ m.formGroup(errors.email, '電郵', 'envelope-o', 'email', old.email) }}

                  <div class="t-right">
                     <button class="btn btn-primary"><i class="fa fa-paper-plane mr-7"></i>發送重設密碼連結</button>
                  </div>
               </form>
            </div> <!-- end panel body -->
         </div> <!-- end panel -->
      </div> <!-- end col -->
   </div> <!-- end row -->
   <script src="{{ base_url() }}/js/form.js"></script>
{% endblock %}