@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);

@media (min-width: 1200px) {
  .container {
      width: 1350px;
  }
}

body {
   padding-top: 70px;
   font-family: 'Noto Sans TC';
   color: #1C1C1C;
}

#main {
   min-height: calc(100vh - 130px)
}

footer {
   height: 60px;
   width: 100%;
   color: #FFFFFB;
   background: #1C1C1C;
}

footer a {
   color: #FFFFFB;
}

footer a:hover {
   color: #EEE;
   text-decoration: none;
}

a, button, input.form-control, textarea.form-control, select.form-control {
   transition: .5s;
}

a:active {
   text-decoration: none;
}

input.form-control, textarea.form-control, select.form-control {
   border: 1px dashed #ccc;
   box-shadow: none;
   background: #FFFFFB;
}

input.form-control:focus, textarea.form-control:focus, select.form-control:focus {
   border: 1px dashed #828282;
   box-shadow: none;
}

textarea.form-control:disabled {
   background: #fefefe;
   cursor: auto;
}

textarea.textarea-error {
   border-color: #A94442;
}

pre {
   background-color: #2D2D2D;
   border-color: #2D2D2D;
}

code {
   padding: 6px 10px;
}

.gravatar {
   border-radius: 10%;
   margin: 0 10px 0 0;
   padding: 0;
}

span .gravatar {
   margin: 5px;
}

#last-reply .gravatar {
   vertical-align: bottom;
   margin-bottom: 0;
}

.mr-7 {
   margin-right: 7px;
}

.t-right {
   width: 100%;
   text-align: right;
}

.w-30 {
   width: 30px;
}

.profile {
   color: #BDC0BA;
   font-weight: 700;
}

.auto-disappear {
   cursor: pointer;
}

.hide {
   display: none;
}

.share-title {
   font-weight: 700;
   color: #828282;
   transition: .5s;
}

.share-title:hover, .share-title:active {
   color: #1C1C1C;
   text-decoration: none;
}

.grey {
   color: #BDC0BA;
   margin-right: 10px;
   font-weight: 700;
}

.form-label {
   font-size: 110%;
   margin-bottom: 10px;
}

.counts {
   font-size: 300%;
   color: #BDC0BA;
   font-weight: 700;
   font-family: 'Baloo Tamma';
}

.flex-box {
   display: flex;
   justify-content: space-between
}

.inner-box {
  display: flex;
}

.member {
   font-size: 120%;
   padding: 10px 0;
   text-align: center;
}

@media (max-width: 480px) {
  .flex-box {
      flex-direction: column;
  }
  .flex-right {
      text-align: right;
  }
  .inner-box {
      display: block;
  }
  #footer-box {
   flex-direction: column;
   padding: 10px;
  }
  #footer-box span {
   padding: 10px;
  }
  footer {
   height: auto;
  }
}

#gravatar-link {
   padding: 12px 10px 10px 10px;
}

#likeButton {
   text-align: center;
}

#likedDetails {
   text-align: center;
}

#marked-preview {
   overflow: auto;
   max-height: 720px;
   padding: 5px;
}

#footer-box {
   display: flex;
   align-items: center;
   height: 100%;
   width: 100%;
   justify-content: space-between;
}

#github {
   color: ##FFFFFB;
}

#github:hover {
   color: #EEE;
}

#github-link {
   border: 1px solid #eee;
   border-radius: 20px;
   color: #828282;
   padding: 5px;
   width: 100px;
   text-align: center;
}

#github-link a {
   color: #828282;
   text-decoration: none;
   display: block;
}

#github-link a:hover {
   color: #1C1C1C;
}

::-webkit-scrollbar-track {
   background-color: #FCFAF2;
}

::-webkit-scrollbar {
   width: 6px;
   height: 10px;
   background-color: #FCFAF2;
}

::-webkit-scrollbar-thumb {
   background-color: #C73E3A;
}