{% extends 'default.twig' %}

{% block body %}
   <div class="row">
      <div class="col-md-9">
         {% include 'partial/share/main.twig' with [share, likedUsers] %}

         {% include 'partial/share/comments.twig' with [share, comments] %}
      </div> <!-- end col-9 -->
      <div class="col-md-3" id="sticky">
         {% include 'partial/share/sidebar.twig' with [share, others] %}
      </div>
   </div> <!-- end row -->
   <script src="{{ base_url() }}/js/md5.js"></script>
   <script>
      $('[data-toggle="tooltip"]').tooltip()

      $('pre code').each(function(i, block) {
         hljs.highlightBlock(block)
      })

      $('#sticky').stick_in_parent({
         'offset_top': 70
      })

      $('#likeButton > div').click(function(e){
         e.preventDefault()
         var btn = $(this)
         var span = btn.find('span')
         var count = parseInt(span.text())
         $.getJSON($(this).data('url')).done(function(res){
            if (btn.hasClass('btn-default')) {
               btn.removeClass('btn-default').addClass('btn-success')
               count++
               span.text(count)
               var g = '<span style="display: none"'+
                       ' data-placement="top" data-toggle="tooltip" title="'+res.username+'" id="liked-by-'+res.id+'">'+
                       '<img class="gravatar" src="https://www.gravatar.com/avatar/'+md5(res.email)+'?s=30&d=mm"></span>'
               $('#likedDetails').prepend(g)
               $('#liked-by-'+res.id).fadeIn().css('display', 'inline-block')
               $('[data-toggle="tooltip"]').tooltip()
            } else {
               btn.removeClass('btn-success').addClass('btn-default')
               count--
               span.text(count)
               $('#liked-by-'+res.id).fadeOut(function(){
                  $(this).remove()
               })
            }
         })
      })

      $('textarea').keyup(function(){
         if ($(this).val().trim()) {
            $('button').attr('disabled', false)
         } else {
            $('button').attr('disabled', true)
         }
      })
   </script>
{% endblock %}