{% extends 'default.twig' %}

{% block body %}
   <div class="alert alert-danger" style="width: 50%; margin: 50px auto; text-align: center;">
      <p style="font-size: 135%; font-weight: 700; margin-bottom: 20px;">
         <i class="fa fa-exclamation-triangle fa-lg mr-7" aria-hidden="true"></i>沒有 {{ name }} 這個會員
      </p>
      <a class="plink" href="/">返回主頁</a>
   </div>
{% endblock %}