{% extends 'default.twig' %}

{% block body %}
   <div>
      本站使用 <a href="http://www.slimframework.com" target="_blank">Slim Framework</a> 開發
      <p>使用之第3方PHP庫</p>
      <ul>
         <li><a href="https://github.com/firebase/php-jwt" target="_blank">firebase/php-jwt</a></li>
         <li><a href="https://github.com/vlucas/phpdotenv" target="_blank">vlucas/phpdotenv</a></li>
         <li><a href="https://github.com/Respect/Validation" target="_blank">respect/validation</a></li>
         <li><a href="https://github.com/slimphp/Twig-View" target="_blank">slim/twig-view</a></li>
         <li><a href="https://github.com/ircmaxell/RandomLib" target="_blank">ircmaxell/random-lib</a></li>
         <li><a href="https://github.com/briannesbitt/Carbon" target="_blank">nesbot/carbon</a></li>
         <li><a href="https://github.com/aptoma/twig-markdown" target="_blank">aptoma/twig-markdown</a></li>
         <li><a href="https://github.com/michelf/php-markdown">michelf/php-markdown</a></li>
      </ul>
      <p>使用之第3方Frontend庫</p>
      <ul>
         <li><a href="http://getbootstrap.com" target="_blank">Bootstrap</a></li>
         <li><a href="https://daneden.github.io/animate.css/">Animate css</a></li>
         <li><a href="http://ricostacruz.com/nprogress/" target="_blank">Nprogress</a></li>
      </ul>
   </div>
{% endblock %}