{% extends 'default.twig' %}

{% block body %}
   <div class="row">
      <div class="col-md-6 col-md-offset-3">
         <div class="panel panel-info">

            <div class="panel-heading" style="font-size: 150%; text-align: center;">忘記密碼</div>

            <div class="panel-body">

               <form action="/forget" method="post" autocomplete="off">
                  {{ csrf_field | raw }}

                  <div class="form-group">
                     <label style="font-size: 110%; margin-bottom: 10px;" for="email">電郵</label>
                     <div class="input-group has-feedback {{ errors.email ? 'has-error' : ''}}">
                        <span class="input-group-addon"><i class="fa fa-envelope-o w-30"></i></span>
                        <input class="form-control" type="text" name="email" id="email" value="{{ old.email }}">
                        {% if errors.email %}
                           <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                        {% endif %}
                     </div>
                     {% if errors.email %}
                        <span class="help-block">
                           <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ errors.email | first }}
                        </span>
                     {% endif %}

                  </div>

                  <div class="t-right">
                     <button class="btn btn-primary"><i class="fa fa-check mr-7"></i>重設密碼</button>
                  </div>

               </form>
            </div> <!-- end panel body -->
         </div> <!-- end panel -->
      </div> <!-- end col -->
   </div> <!-- end row -->
   <script src="/js/form.js"></script>
{% endblock %}