{% extends 'default.twig' %}

{% block body %}
   <div class="row">
      <div class="col-md-8">
         {% include 'partial/home/main.twig' with shares %}
         {% include 'partial/pagination.twig' with [pages, page, prev, next] %}
      </div>
      {% include 'partial/home/sidebar.twig' with [mostActiveUsers, hots] %}
   </div>
{% endblock %}