{% extends 'default.twig' %}

{% block body %}
<div class="row">
   <div id="content" class="col-md-12">
      <form action="/share" method="post">
         <div class="panel panel-info">
            <div class="panel-heading" style="font-size: 150%; text-align: center;">開心 Share</div>

            <div class="panel-body">

               <div class="form-group">
                  <label style="font-size: 110%; margin-bottom: 10px;">分類</label>
                  <select class="form-control">
                  <option>-- 選擇分類 --</option>
                  <option>網站</option>
                  <option>影片</option>
                  <option>遊戲</option>
                  </select>
               </div>

               <div class="form-group">
                  <label style="font-size: 110%; margin-bottom: 10px;" for="title">標題</label>
                  <input class="form-control" type="text" name="title" id="title">
               </div>

               <div class="form-group">
                  <label style="font-size: 110%; margin-bottom: 10px;" for="body">
                     內容 <small style="color: #828282; font-style: italic; font-size: 70%;">支援 Markdown</small>
                  </label>
                  <textarea id="marked" class="form-control" name="body" id="body" rows="23"></textarea>
               </div>

               <div class="t-right">
                  <div id="show" class="btn btn-success"><i class="fa fa-eye mr-7"></i>預覽</div>
                  <button class="btn btn-primary"><i class="fa fa-check mr-7"></i>發表</button>
               </div>
            </div>
         </div>
      </form>
   </div>

   <div id="preview" class="col-md-6 hide">
      <div class="panel panel-default" style="height: 797px;">
         <div class="panel-heading" style="font-size: 150%; text-align: center;">內容預覽</div>
         <div class="panel-body">
            <div id="marked-preview"></div>
         </div>
      </div>
   </div>
</div>

<script src="/js/marked.min.js"></script>
<script>

$('#marked').keyup(function(){
   var m = marked($('#marked').val());
   $('#marked-preview').html(m)
})

$('#show').click(function(){
   $('#content').toggleClass('col-md-6')
   $('#preview').toggleClass('hide')
})

</script>
{% endblock %}